.products_row{
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 3fr 0.5fr;
    align-items: center;
}
.products_row_clicked{
    background-color: khaki;
}
.products_row:hover{
    cursor: pointer;
    background-color: khaki;
}
.products_row div{
    border: dotted 1px blue;
    height: 100%;
}
.products_row_top{
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 3fr 0.5fr;
    align-items: center;
    justify-items: center;
}
.products_row_top:nth-child(2){
 font-size: xx-large;
 background-color: brown;
}

.div_btn{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.result_rows{
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr 1fr 1fr;
    align-items: center;
    border: 1px solid blue;
    margin-top: 5px;
}
.result_rows div{
    margin-top: px;
}
.prim{
    display: none;
    width: 90%;
}
.prim li{
    list-style-type:decimal;
}

.pos_description{
    width: 90%;
}
.credits{
    display: none;
    justify-content: center;
    flex-direction: row;
}
.credits li{
    list-style-type:none;
}
.creditsleft{
    width: 50%;
    text-align: center;
    border: 1px solid black;
    justify-content: center;
}
.creditsright{
    width: 50%;
    text-align: center;
    border: 1px solid black;
    justify-content: center;
}